body{
	background-color:yellow;
	margin:10px;
}
.red{
	font-size:50;
	font-family:arial;
	text-align:center;
	color:red;
	height:10%;
	width:99%;
}
.orange{
	float:left;
	height:69%;
	width:49%;
	color:orange;
	font-size:45;
	font-family:arial;
}
table{
	border-style:solid;
	border-color:red;
	color:orange;
	text-align:center;
	font-size:40;
}
.yellow{
	float:right;
	width:24%;
	height:69%;
}
.footer{
	position:fixed;
	left:10px;
	bottom:10px;
	font-family:arial;
	color:black;
	text-align:center;
	font-size:small;
	width:99%
}